{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="header">
  <img src="{{ asset( 'img/logo.png' ) }}" alt="logo">
  <div class="header-right">
    <a href="{{ path('index')}}">Accueil</a>
    <a href="{{ path('backoffice')}}">Connexion</a>
  </div>
</div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
    <input type="text" value="{{ last_username }}" class="fadeIn second" placeholder="login" name="username" id="inputUsername" required autofocus>
    <input type="password" name="password" id="inputPassword" class="fadeIn third"  placeholder="password"  required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
      <input type="submit" class="fadeIn fourth" value="Se connecter">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
  </div>
</div>
{% endblock %}
