{% extends 'base.html.twig' %}

{% block title %}TiMMIng - t창ches{% endblock %}

{% block body %}
<div class="header">
<a href="{{ path('index')}}"><img src="{{ asset( 'img/logo.png' ) }}" alt="logo"></a>
  <h1> Liste des t창ches</h1>
  <div class="header-right">
    <a href="{{ path('backoffice')}}">Retour</a>
    <a href="{{ path('backoffice')}}">Connexion</a>
  </div>
</div>
<div class"task">
<h1 class="tasks__title"> Liste des t창ches </h1>
<a href="{{ path('add_task')}}" class="centrer"><h2 class="tasks__subtitle">Ajouter une t창che</h2></a>
</div>
<div>
<table class="forms">
    <thead>
     <tr>
            <th> Date de rendu </th>
            <th> Module </th>
            <th> Professeur </th>
            <th> Description </th>
            <th> Editer</th>
            <th> Supprimer </th>
    </tr>
    </thead>
    <tbody> 
  
{% for task in tasks %} 
<tr>
<td>{{task.deadline |date("d/m/Y")}}</td>
  
<td>{{task.module.name}}</td>

<td>{{task.teacher.name}}</td>

<td>{{task.description}}</td>
<td><a href="{{ path('edit_task', { id: task.id })}}">Editer</a></td>
<td> <form action="{{ path( 'delete_task', { id: task.id }) }}" method="post" class="d-inline">
                        <input type="hidden" name="_method" value="delete">
                        <button class="btn btn-link text-danger" type="submit">effacer</button>
                    </form></td>

  </tr>
  
{% endfor %}
   
    </tbody>
</table>
</div>
{% endblock %}
